<?xml version="1.0" encoding="UTF-8"?>

<!--
/**
 * Aumento.io
 *
 * NOTICE OF LICENSE
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 *
 * @category    Mage
 * @package     Aumento_PriceHide
 * @copyright   Copyright (c) 2012 Aumentio.io (http://www.aumento.io)
 * @license     http://www.gnu.org/licenses  GNU General Public License, version 3 (GPL-3.0)
 */
-->

<config>
	<sections>
		<catalog>
			<groups>
				<pricehideconfig translate="label">
					<label>Aumento.io Price Hide</label>
					
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<active translate="label">
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</active>

						<title translate="label">
							<label>Message to display</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</title>

					</fields>
				</pricehideconfig>
			</groups>
		</catalog>
	</sections>
</config>